@import "tailwindcss";

@theme {
  --color-primary: #242f9b;
  --color-secondary: #ff794c;
  --color-tertiary: #448a1d;
  --color-bgprimary: #eaedf7;
  --color-body: #0e0e23;

  /* Primary Colors (Main Brand Colors) */
  --color-deepblue: #1e3a8a;
  --color-softteal: #2d9cdb;

  /* Secondary Colors (Accents & Highlights) */
  --color-lightskyblue: #a5d8ff;
  --color-coolgray: #e5e7eb;

  /* Background & Text Colors + White Color */
  --color-darkcharcoal: #333333;

  /* Fonts */
  --font-headings: "Poppins", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  @apply m-0 font-body bg-bgprimary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
}

main {
  display: block;
}

.overlay {
  @apply opacity-70 bg-black;
}

.menuitem-active {
  @apply bg-softteal border-r-4 border-white box-border hover:bg-softteal hover:text-white hover:opacity-100;
}

.container {
  @apply px-4 py-3 mx-auto;
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0e0e23;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0e0e23;
  border-radius: 3px;
}

/* Handle on hover */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: gray;
}
